

#anzeige {
background-color: rgb(151, 202, 153);
}

.header {
  display:flexbox;
  justify-content: center;
  font-size: 18px;
  color: #000000;
  height: 100px;
  padding: 12px 16px;
}

#app {
  width: 90%;
  margin: 0 auto;
  padding: 16px;
}

#map {
  height: 90vh;
  min-height: 400px;
  min-width: 70%;
  border-radius: 12px;
  border: 1px solid #ddd;
}


.layout {
  display: grid;
  grid-template-columns: 75% 25%;
  gap: 12px;
  display: flex;
  height: calc(100vh - 120px); /* Header + Controls */
}

.right {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
  border-left: 1px solid #ddd;
}

.header {
  padding: 10px;
  border-radius: 12px;
  margin-bottom: 12px;
  border: 1px solid #eee;
  text-align: center;
  font-size: 30px;
}

.controls {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  align-items: center;

  justify-content: space-around;
  background: rgb(151, 202, 153);
  padding: 20px;
  border-radius: 12px;
  margin-bottom: 12px;
  border: 1px solid #eee;
}

/* NUR das Suchfeld */
.controls #suchfeld {
  flex: 60%;     /* optional */
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #ddd;
  font-size: 24px;
}

#suchLabel {
  font-size: 100%;
  flex: 20%;
  padding: 10px;
  font-size: 24px;
  font-weight: bold;
}


.controls .checkbox{
  display:flex;
  align-items:center;
  gap:2px;
  white-space: nowrap;
}


.list {
  list-style: none;
  overflow-y: auto; 
  padding: 10px;
  margin: 0;
}




.card {
  background: white;
  padding: 12px;
  border-radius: 12px;
  border: 1px solid #eee;
}

.card-title {
  font-weight: 700;
  font-size: 18px;
}

.card-sub {
  margin-top: 6px;
  opacity: 0.8;
}

.card-meta {
  margin-top: 8px;
  opacity: 0.9;
}

.card:hover {
background-color: #b2e5b3;
}

.status {
  padding: 10px;
  opacity: 0.9;
}

.error {
  color: #b00020;
}

/* Mobile */
@media (max-width: 900px) {
  .layout {
    grid-template-columns: 1fr;
  }
    #map {
    height: 50vh;
  }
}